

ngx-editor {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  min-height: 500px;
}
.NgxEditor__Wrapper{
//height: 80vh;
  margin: 50px;
  //display: flex;
  //flex-direction: column;
  //align-items: stretch;
  //height: auto;
}

.back-button{
margin:20px 40px;

}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;

  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;

  textarea{
    width: 100%;
    min-height: 75vh;
  }
}
