<div class="row h-100 w-100">
  <div class=" display-center h-100 ">
<div style="width: 400px">
    <mat-card class="card" appearance="outlined">
      <mat-card-header>
        <mat-card-title>Welcome to Collaborative Note</mat-card-title>
      </mat-card-header>
      <mat-card-content>

        <div >
          <h2>Login</h2>
          <form  [formGroup]="form">
          <div >
            <mat-form-field style="width: 100%"  >
              <mat-label >Username</mat-label>
              <input matInput formControlName="username" name="username" required type="text">
            </mat-form-field>

            <mat-form-field style="width: 100%"  >
              <mat-label >email</mat-label>
              <input matInput formControlName="email" name="email" required type="email">
            </mat-form-field>

            <mat-form-field style="width: 100%"  >
              <mat-label >password</mat-label>
              <input matInput formControlName="password" name="password" required type="text">
            </mat-form-field>
          </div>


           <div style="display: flex;justify-content: end; margin-bottom:12px">
             <button mat-flat-button (click)="login()"  color="primary">Login</button>
           </div>
          </form>
        </div>


      </mat-card-content>
      <mat-card-footer class="example-card-footer">

      </mat-card-footer>
    </mat-card>
  </div>
</div>
</div>
